@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* light */
    /* оттенки белого */
    --white: #fff;
    --white-secondary: #f7f7f7;

    /* оттенки чёрного */
    --black: #363636;
    --grey-100: #EDEDED;
    --grey-primary: #adadad;
    --grey-secondary: #7b7b7b;
    --grey-600: #888888;

    /* оттенки зелёного */
    --green-primary: #dffd99;
    --green-secondary: #c7f85e;
    --green-tetriary: #9be60f;
    --green-bold: #c7f85e33;

    /* оттенки синего */
    --blue-disabled: #eef5ff;
    --blue-extra-light: #dfecff;
    --blue-light: #c5daff;
    --blue-primary: #7e9cfb;
    --blue-secondary: #3440ce;
    --blue-tetriary: #c5daff33;
    --blue-300: #A3C0FE;
    --blue-500: #5F79F5;
    --blue-600: #4757EA;
    --blue-bold: #1a1f4c;

    /* оттенки красного */
    --red-primary: #e94c4c;
    --red-secondary: #e94c4c66;

    /* оттенки жёлтого */
    --yellow-primary: #ffcc00;
  }
}
