@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* light */
    /* оттенки белого */
    --white: #fff;
    --white-secondary: #f7f7f7;

    /* оттенки чёрного */
    --black: #363636;
    --grey-100: #ededed;
    --grey-primary: #adadad;
    --grey-secondary: #7b7b7b;
    --grey-600: #888888;
    --grey-opacity: rgba(136, 136, 136, 0.5);

    /* оттенки зелёного */
    --green-primary: #dffd99;
    --green-secondary: #c7f85e;
    --green-tetriary: #9be60f;
    --green-bold: #c7f85e33;
    --colors-green-950: #1c3003;

    /* оттенки синего */
    --blue-disabled: #eef5ff;
    --blue-extra-light: #dfecff;
    --blue-light: #c5daff;
    --blue-primary: #7e9cfb;
    --blue-secondary: #3440ce;
    --blue-tetriary: #c5daff33;
    --blue-300: #a3c0fe;
    --blue-500: #5f79f5;
    --blue-600: #4757ea;
    --blue-900: #2c3683;
    --blue-bold: #1a1f4c;

    /* оттенки красного */
    --red-primary-: #e94c4c;
    --red-primary-400: rgba(233, 76, 76, 0.4);
    --red-primary-800: rgba(233, 76, 76, 0.8);
    --red-secondary: #e94c4c66;

    /* оттенки жёлтого */
    --yellow-primary: #ffcc00;
    /*  */
  }
}

.badge-type-room{
  @apply h-fit rounded-2xl px-3 py-1 text-center text-sm
}

.badge-year{
  @apply h-fit w-fit rounded-full px-10 py-2 cursor-pointer
}
